.industries {
  /* background-color: #000000; */
  /* color: #ffffff; */
  padding: 5rem 10rem;
}
.industries__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.industries__title h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.industries__title-success {
  margin-top: -25px;
}

.industries__title p {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin-top: -10px;
}

.industries__content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.industries__content-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.industries__content-item img {
  width: 100px;
  height: 100px;
}

.industries__content-item h2 {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .industries {
    padding: 5rem 5rem;
  }
  .industries__content {
    grid-template-columns: 1fr 1fr;
  }
  .industries__title h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .industries {
    padding: 5rem 2rem;
  }
  .industries__content {
    grid-template-columns: 1fr;
  }
  .industries__title h1 {
    font-size: 30px;
  }
}
